@font-face {
	font-family: "DINPro-Black";
	src: url("../fonts/DINPro-Black.otf");
	font-weight: bold;
}
@font-face {
	font-family: "DINPro-Bold";
	src: url("../fonts/DINPro-Bold.otf");
	font-weight: bold;
	font-smooth: always;
}
@font-face {
	font-family: "DINPro-Light";
	src: url("../fonts/DINPro-Light.otf");
	font-smooth: always;
}
@font-face {
	font-family: "DINPro-Regular";
	src: url("../fonts/DINPro-Regular.otf");
}
body {
	margin: 0px;
	font-family: "DINPro-Regular", sans-serif;
	font-weight: 400;
}

ul.reset {
	margin: 0px;
	padding: 0px;
}
ul.reset li {
	list-style: none;
}


.thin {
	font-family: "DINPro-Light", sans-serif !important;
	font-weight: 100 !important;
}
.light {
	font-family: "DINPro-Light", sans-serif !important;
	font-weight: 300 !important;
}
.medium {
	font-family: "DINPro-Regular", sans-serif !important;
	font-weight: 500 !important;
}
.bold {
	font-family: "DINPro-Black", sans-serif !important;
	font-weight: 700 !important;
}
.ultra-bold {
	font-family: "DINPro-Bold", sans-serif !important;
	font-weight: 900 !important;
}
b,
strong {
	font-family: "DINPro-Black", sans-serif !important;
	font-weight: 700;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.uppercase {
	text-transform: uppercase;
}
.hide {
	display: none;
}
.content {
	position: relative;
	z-index: 10;
	max-width: 1020px;
	margin: 0 auto;
}
#header {
	width: 100%;
	min-height: 65px;
	background-color: #fff;
	position: relative;
}
#header section.menu {
	width: 100%;
	z-index: 100000;
	top: 0;
	position: fixed;
	overflow: hidden;
	height: 65px;
	opacity: 1;
	background: #292929;
	-webkit-transition: all 0.2s cubic-bezier(1, 0, 0, 1);
	-moz-transition: all 0.2s cubic-bezier(1, 0, 0, 1);
	-o-transition: all 0.2s cubic-bezier(1, 0, 0, 1);
	transition: all 0.2s cubic-bezier(1, 0, 0, 1);
}
#header #menu-item-673 {
	margin-top: 50px;
}
#header section.menu.fixed {
	background: #292929;
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .45);
	-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .45);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .45);
}
#header section.menu .title {
	color: #fff;
	font-size: 15px;
	top: 23px;
	left: 65px;
	position: relative;
	text-transform: uppercase;
	transition: all 0.2s cubic-bezier(1, 0, 0, 1);
	cursor: pointer;
}
#header section.menu .title:hover {
	color: #f0f0f0;
}
#header section.menu a#bt-menu {
	height: 28px;
	width: 28px;
	display: block;
	border: 0;
	outline: none;
	cursor: pointer;
	padding: 0;
	top: 15px;
	position: absolute;
	left: 18px;
}
#header section.menu a#bt-menu .btn-menu-bar {
	background-color: #fff;
	position: absolute;
	bottom: 39%;
	width: 35px;
	height: 3px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
#header section.menu a#bt-menu .btn-menu-bar:before {
	content: ' ';
	width: 35px;
	height: 3px;
	background: inherit;
	position: absolute;
	top: -11px;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: top .1s ease;
	-moz-transition: top .1s ease;
	-ms-transition: top .1s ease;
	-o-transition: top .1s ease;
	transition: top .1s ease;
}
#header section.menu a#bt-menu .btn-menu-bar:after {
	content: ' ';
	width: 35px;
	height: 3px;
	background: inherit;
	position: absolute;
	bottom: -11px;
	left: 0;
	-webkit-transition: bottom .1s ease;
	-moz-transition: bottom .1s ease;
	-ms-transition: bottom .1s ease;
	-o-transition: bottom .1s ease;
	transition: bottom .1s ease;
}
#header section.menu a#bt-menu.expanded .btn-menu-bar {
	-webkit-transition: -webkit-transform .5s ease;
	-moz-transition: -moz-transform .5s ease;
	-ms-transition: -ms-transform .5s ease;
	-o-transition: -o-transform .5s ease;
	transition: transform .5s ease;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#header section.menu a#bt-menu.expanded .btn-menu-bar:before {
	top: 0;
	-webkit-transition: top .5s ease, -webkit-transform .3s ease .3s;
	-moz-transition: top .5s ease, -moz-transform .3s ease .3s;
	-ms-transition: top .5s ease, -ms-transform .3s ease .3s;
	-o-transition: top .5s ease, -o-transform .3s ease .3s;
	transition: top .5s ease, transform .3s ease .3s;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
#header section.menu a#bt-menu.expanded .btn-menu-bar:after {
	content: ' ';
	width: 35px;
	height: 3px;
	background: inherit;
	position: absolute;
	bottom: 0px;
	left: 0;
	opacity: 0;
	-webkit-transition: bottom .1s ease;
	-moz-transition: bottom .1s ease;
	-ms-transition: bottom .1s ease;
	-o-transition: bottom .1s ease;
	transition: bottom .1s ease;
}
#header section.menu .logo {
	width: 22px;
	height: 33px;
	margin: 0;
	display: block;
	overflow: hidden;
	text-indent: -999px;
	background: url(../img/small-logo.png) center center no-repeat;
	top: 15px;
	left: 50%;
	margin-left: -11px;
	position: absolute;
	transition: all 500ms cubic-bezier(1.000, -0.600, 0.000, 1.650);
}
.home #header section.menu .logo {
	display: none;
}
#header section.menu.fixed .logo {
	display: block;
}
#header .idioma {
	display: block;
	position: absolute;
	top: 25px;
	right: 10px;
}
#header .idioma ul:after {
	content: "";
	display: block;
	clear: both;
}
#header .idioma ul li {
	float: left;
	margin-right: 10px;
}
#header .idioma ul li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
#header nav {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;
	background: rgba(49, 49, 49, 0.9);
	z-index: 99;
	padding-top: 65px;
	padding-bottom: 100px;
	overflow: auto;
}
#header nav div {
	margin: 0 auto;
	display: block;
	width: 540px;
}
#header nav div ul li {
	font-size: 26px;
	font-weight: 700;
	border-bottom: 3px solid #fff;
	padding: 16px 0 0 0;
	min-height:54px;
}
#header nav div ul li.last {
	margin-top: 50px;
}
#header nav div ul li a {
	font-size: 26px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: 0;
}
#header nav div ul li a span {
	font-size: 15px !important;
	font-family: "Din-Light", sans-serif !important;
}



@media(max-width:768px){
	#header section.menu {
		opacity: 1;
	}
	#header nav {	
		padding-top: 100px;
	}
	#header nav div {
		width: 100%;	
	}
	#header nav div ul li {
		text-indent: 10px;
	}
	
	.col1 .left .ultra-bold{
		font-size: 21px !important;
	}
}

#footer {
	position: relative;
	z-index: 10;
	width: 100%;
	height: 321px;
	background: #000;
	margin-top: 200px;
}
.p-tel a {
	color: #000;
	text-decoration: none;
}
#footer #mapa {
	position: relative;
	bottom: 110px;
	margin-top: 110px;
	height: 300px;
	background: url(../img/map-sp.png) no-repeat center center #eeeeee;
	background-size: cover;
}
#footer #mapa.sp {
	background-image: url(../img/map-sp.png);
}
#footer #mapa.rj {
	background-image: url(../img/map-rj.png);
}
#footer #mapa .footer_holder {
	max-width: 819px;
	display: block;
	height: 200px;
	margin: 0px auto;
	padding: 50px 0;
}
#footer #mapa dl {
	width: 253px;
	height: 200px;
	background-color: #fff;
	float: left;
}
#footer #mapa .bg-center {
	width: 253px;
	height: 200px;
	background-color: #fff;
	float: left;
	position: relative;
	padding: 0 10px;
}
#footer .col2 .mail {
	display: block;
	top: 0px;
	left: 0;
	position: absolute;
	text-decoration: none;
	width: 100%;
	background: #e5e5e5;
	color: #000;
	height: 100px;
	text-transform: uppercase;
	font-weight: 400;
	transition: all 0.3s ease 0s;
}
#footer .col2 .mail:hover {
	background-color: #00c0ff;
	color: #000;
}
#footer .col2 .mail strong {
	font-weight: 700;
	margin-top: 30px;
	font-size: 20px;
	position: relative;
	display: block;
	margin-bottom: 10px;
}
#footer .col2 .newsletter {
	display: block;
	top: 100px;
	left: 0;
	position: absolute;
	width: 100%;
	background: #000;
	color: #fff;
	height: 100px;
	text-transform: uppercase;
	font-weight: 400;
	transition: all 0.3s ease 0s;
}
#footer .col2 .newsletter label {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
#footer .col2 .newsletter input#mc4wp_email {
	font-family: "dinPro-regular", sans-serif;
	font-size: 20px;
	color: #000;
	width: 93%;
	margin: 0 auto;
	border: 0;
	padding: 5px;
}

#footer .col2 .newsletter input[type=submit] {
	position: absolute;
	right: 15px;
	bottom: 26px;
	height: 33px;
	background: url(../img/submit_newsletter.jpg) center right no-repeat #fff;
	border: 0;
	text-indent: -999px;
	width: 33px;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#footer .col2 .newsletter .mc4wp-alert {
	position: absolute;
	z-index: 9;
	top: 0px;
	right: 0;
	left: 0;
	height: 50px;
	margin: 0;
	padding: 25px 0;
	border: 0;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	transition: all 0.3s ease 0s;
}
#footer .col2 .btn {
	margin: 16px auto;
	background-color: #000;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	width: 90px;
	height: 30px;
	line-height: 22px;
	display: block;
	transition: all 0.3s ease 0s;
}
#footer .col2 .btn:hover {
	background-color: #16d888;
	color: #000;
}
#footer .col2 {
	background: #fff;
	font-size: 13px;
	margin-bottom: 0;
	margin-top: 0;
	padding: 30px 10px;
	text-align: center;
	z-index: 5
}
#footer dt {
	font-size: 22px;
	margin-bottom: 5px
}
#footer dd {
	margin: 0;
	padding: 0
}
#footer #links {
	position: relative;
	height: 22px;
	background-color: #000;
	bottom: 100px;
}
#footer #links a {
	width: 23px;
	height: 21px;
	display: block;
	overflow: hidden;
	text-indent: -999px;
	float: right;
	margin: 0 12px;
}
#footer #links a:hover {
	-webkit-filter: blur(1px);
}
#footer #links a.insta {
	background: url(../img/social-instagram.png) center center no-repeat;
}
#footer #links a.fb {
	background: url(../img/social-fb.png) center center no-repeat;
}
#footer #links a.linkedin {
	background: url(../img/social-linkedin.png) center center no-repeat;
}
#footer #links a.youtube {
	background: url(../img/social-youtube.png) center center no-repeat;
}
#footer #links a.twitter {
	background: url(../img/social-twitter.png) center center no-repeat;
}
#footer .link-home {
	display: block;
	position: relative;
	bottom: 82px;
	margin: 0 auto;
	width: 59px;
	height: 35px;
	overflow: hidden;
	text-indent: -999px;
	background: url(../img/AC.png) center center no-repeat #000;
}
#footer .link-home:hover {
	-webkit-filter: blur(1px);
}

/*@media(min-width:769px) and (max-width: 834px){*/
@media (max-width: 834px){

	#footer,
	#footer #mapa,
	#footer #mapa .footer_holder {
		height: auto;
	}
	#footer #mapa dl {
		width: 90%;
		float: none;
		margin: 0 auto;
	}
	#footer #mapa .bg-center {
		float: none;
		width: 90%;
		margin: 0 auto;
	}
}	


@media(max-width:768px) {
	#footer #links {
		width: 235px;
	}
}
